@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-primary" asp-controller="Account" asp-action="LoginWithMicrosoft">
            Logowanie z Microsoft
        </a>
    </div>
</div>

